{:kotoba.app/id "cloud.itonami.isic-5913", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreietgcytsz3klkgyqb7oukhfoiggztpu7ydcpwo4bbgyuqwoboopwy", :kotoba.app/embed-url "ipfs://bafkreietgcytsz3klkgyqb7oukhfoiggztpu7ydcpwo4bbgyuqwoboopwy", :published {:archive "https://kotobase.net/ipfs/bafkreietgcytsz3klkgyqb7oukhfoiggztpu7ydcpwo4bbgyuqwoboopwy", :size 73063, :put-status 201, :get-status 200, :at "2026-08-15T13:36:12.010Z"}}
